// Color Swatches
.color-swatch {
    height: 100px;
    @include shadow-3();
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    &.swatch1 {
        background-color: $emporor;
    }
    &.swatch2 {
        background-color: $deep_cerulean;
    }
    &.swatch3 {
        background-color: $swamp;
    }
    &.swatch4 {
        background-color: $azure_radiance;
    }
    &.swatch5 {
        background-color: $silver_sand;
    }
    &.swatch6 {
        background-color: $cerulean;
    }
    &.swatch7 {
        background-color: $old-lace;
        color: $swamp;
    }
    /*&.swatch8 {
        background-color: $ship_gray;
    }*/
}
.details {
    color: $text-muted;
}
